.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card_crud_usuarios {
  width: 600px;
  /* Ancho fijo de la tarjeta */
  border-radius: 8px;
  /* Redondeo de bordes de 8px */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  /* Oculta el contenido desbordado */
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding-bottom: 15px;
}

.card_crud_eventos {
  width: 600px;
  /* Ancho fijo de la tarjeta */
  border-radius: 8px;
  /* Redondeo de bordes de 8px */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  /* Oculta el contenido desbordado */
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding-bottom: 15px;
}

.card_title {
  background-color: var(--color-header);
  display: flex;
  justify-content: center;
}

.card_text {
  margin: 20px;
}

.card_button {
  display: flex;
  justify-content: center;
}
