:root {
    /* Paleta de Colores */
    --color-bg: #ffffff;
    --color-header: #ddeaf8; /* Color para el header de la pagina y alguna otra cosa que requiera un tono mas claro */
    --color-btn-primary: #00abe4; /* Color para los botonoes primarios */
    --color-btn-primary-hover: #2373ff; /* Color para cuando el boton primario tiene el cursor encima */
    --color-heading: #1e375a; /* Color para toda clase de titulos, palabras con resalte o que requieran que esten mas oscuras */
    --color-text-base: #61728e; /* Color para los textos */
    --color-text-btn-hover: #2364d2; /* Color para el texto de un boton cuando el cursor este por arriba del boton */
    --color-icons: #aaccfb; /* Color para las imagenes, ilustraciones, iconos, etc. */
    --color-green: #40a02b;
    --color-red: #d20f39;

    /* fonts */
    /*

    https://fonts.google.com/specimen/Poppins *SELECCIONAR EN 'Select preview text' ESCOGER LATIN PARA VER LA FUENTE CORRECTAMENTE

    .poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;

    TITULOS: 40px
    Texto, botones, etc: 20px
    */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: auto;   /* Ancho fijo de la tarjeta */
    border-radius: 8px; /* Redondeo de bordes de 8px */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;   /* Oculta el contenido desbordado */
    background-color: var(--color-bg);
    margin: 40px;
    margin-left: 120px;
}

.card_title {
    background-color: var(--color-header);
    display: flex;
    justify-content: center;
    padding: 5px;
}

.card_text {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.card_footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    margin-bottom: 20px;
}

.registrado_por {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fecha {
    display: flex;
    flex-direction: column;
    align-items: center;
}