* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* === VARIABLES === */

:root {
    /* Paleta de Colores */
    --color-bg-alt: #ffffff; /* Color para el fondo de las paginas, botones secundarios, texto de botones, etc */
    --color-bg: #f3f4f6;
    --color-header: #ddeaf8; /* Color para el header de la pagina y alguna otra cosa que requiera un tono mas claro */
    --color-btn-primary: #00abe4; /* Color para los botonoes primarios */
    --color-btn-primary-hover: #2373ff; /* Color para cuando el boton primario tiene el cursor encima */
    --color-heading: #1e375a; /* Color para toda clase de titulos, palabras con resalte o que requieran que esten mas oscuras */
    --color-text-base: #61728e; /* Color para los textos */
    --color-text-btn-hover: #2364d2; /* Color para el texto de un boton cuando el cursor este por arriba del boton */
    --color-icons: #aaccfb;

    /* fonts */
    /*

    https://fonts.google.com/specimen/Poppins *SELECCIONAR EN 'Select preview text' ESCOGER LATIN PARA VER LA FUENTE CORRECTAMENTE

    .poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;

    TITULOS: 40px
    Texto, botones, etc: 20px
    */
}
/* === GENERAL === */
    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
/* === GENERAL === */

/* === CARD === */
    .login_card {
        width: 500px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        background-color: var(--color-bg-alt);
    }
    .card_title {
        background-color: var(--color-header);
        display: flex;
        justify-content: center;
    }
        /* === FORM === */
        .form {
            display: flex;
            justify-self: center;
            margin: 40px 40px;
        }
        .form__user {
            display: flex;
            flex-direction: column;
        }
        .form__password {
            display: flex;
            flex-direction: column;
        }
        .form_submit {
            display: flex;
            justify-content: center;
        }