* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* === VARIABLES === */

:root {
    /* Paleta de Colores */
    --color-bg-alt: #ffffff; /* Color para el fondo de las paginas, botones secundarios, texto de botones, etc */
    --color-bg: #f3f4f6;
    --color-header: #ddeaf8; /* Color para el header de la pagina y alguna otra cosa que requiera un tono mas claro */
    --color-btn-primary: #00abe4; /* Color para los botonoes primarios */
    --color-btn-primary-hover: #2373ff; /* Color para cuando el boton primario tiene el cursor encima */
    --color-heading: #1e375a; /* Color para toda clase de titulos, palabras con resalte o que requieran que esten mas oscuras */
    --color-text-base: #61728e; /* Color para los textos */
    --color-text-btn-hover: #2364d2; /* Color para el texto de un boton cuando el cursor este por arriba del boton */
    --color-icons: #aaccfb;

    /* fonts */
    /*

    https://fonts.google.com/specimen/Poppins *SELECCIONAR EN 'Select preview text' ESCOGER LATIN PARA VER LA FUENTE CORRECTAMENTE

    .poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    */
}

/* === GENERAL === */
    a {
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: var(--color-heading);
        font-size: 20px;
    }
    a:hover {
        color: var(--color-text-btn-hover);
    }
    h1 {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: var(--color-heading);
    }
    p {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: var(--color-text-base);
    }
/* === HEADER === */
    .header {
        background-color: var(--color-header);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 50px;
    }
    .header_logo {
        margin-left: 40px;
        display: flex;
        align-items: center;
    }
    .nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav_list {
        list-style: none;
        display: flex;
        gap: 30px;
    }
    .nav_login {
        display: flex;
        justify-self: flex-end;
        align-self: center;
        margin-right: 40px;
        background-color: var(--color-bg-alt);
        border-radius: 8px;
        padding: 5px;
    }
/* === HEADER === */
/* === MAIN === */
    .main {
        display: flex;
        gap: 150px;
    }
    .main_card {
        width: 500px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        background-color: var(--color-bg-alt);
        margin: 80px;
        margin-left: 120px;
    }
    .card_title {
        background-color: var(--color-header);
        display: flex;
        justify-content: center;
        font-size: 40px;
    }
    .card_text {
        line-height: 27px;
        margin: 20px;
        font-size: 20px;
    }
    .main_login_btn {
        background-color: var(--color-btn-primary);
        color: white;
        display: flex;
        justify-self: center;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 22px;
        border-radius: 8px;
        padding: 5px;
    }
    .main_login_btn:hover {
        background-color: var(--color-btn-primary-hover);
        color: white;
    }
    .id_card {
        width: 300px;
    }
/* === MAIN === */